<div class="container d-flex flex-column justify-center text-center">
    <h1>All Articles</h1>
    <p><%= link_to "Create Article", new_article_path() %></p>

  <div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>

    <%= render "shared/articlesList", articles: @articles %>
  <div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>

</div>

