<div class="content">
    <div class="container">
        <div class="jumbotron text-center text-white d-flex">
            <h1>Alpha Blog</h1>
            <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h3>
            <button class="btn btn-success">Sign Up!</button>
        </div>
    </div>
</div>
